.forms_container {
  display: flex;
  justify-content: space-around;
}

.request_info_container {
  width: 30%;
  height: 30vh;
}

.question_form_container {
  width: 50%;
  height: 30vh;
}

.contact_background_image {
  z-index: -1;
  object-fit: cover;
  object-position: 0 -100px;
}
